[submodule "nerf"]
	path = nerf
	url = https://github.com/tomeupm/nerf.git
[submodule "instant-ngp"]
	path = instant-ngp
	url = https://github.com/tomeupm/instant-ngp.git
[submodule "instant-ng"]
	path = instant-ng
	url = https://github.com/tomeupm/nerf-pytorch.git
[submodule "nerf-pytorch"]
	path = nerf-pytorch
	url = https://github.com/tomeupm/nerf-pytorch.git
